http://localhost:8003 {
	encode gzip

	@spring path /api /api/* /swagger-ui* /v3/api-docs*
	handle @spring {
		reverse_proxy photostore:8080
	}

	handle {
		root * /srv/www

		@immutable path /assets/*
		header @immutable Cache-Control "public, max-age=31536000, immutable"

		try_files {path} /index.html
		file_server
	}
}
